body {
    line-height: 1.6;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #010211;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #323caf;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #323caf;
}

section {
    margin-bottom: 40px;
}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 0;
}

.edu-entry, .project-entry, .experience-entry {
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    height: 100px;
}

button {
    padding: 10px 15px;
    background-color: hsl(208, 53%, 50%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

footer {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    background-color: #f1f1f1;
}

footer p {
    margin: 0;
}

header img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}